<%- include('head') %>
<div class="container">
  <div class="flexContainer">
    <% films.forEach(function(film){ %>
    <div class="flexItem">
      <h2><%= film.filmName %> (<%=film.filmCertificate %>)</h2>
      <p><%= film.releaseDate %></p>
      <p>&pound;<%= film.filmPrice %></p>
      <p><a href="/film/<%= film._id %>">More Details</a></p>
    </div>
    <% }) %>
  </div> 
</div>
<%- include('footer'); %>
